<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head></head>

<body>
	<div th:fragment="soqScheduleDialog" th:remove="tag">

		<!-- soqScheduleDialog: Start -->
		<div class="modal fade" id="soqScheduleDialog" tabindex="-1" role="dialog" data-backdrop="static"
			aria-labelledby="soqDialogLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" style="display: inline-block">SOQ</h4>
						<h5 id="nameFormLabel"
							style="display: inline-block; background-color: #ffff99 !important; color:Black"
							hidden="hidden">
							<span style="font-size: 90%; height: 16px">--soqScheduleDialog--</span>
						</h5>
						<button type="button" class="close" onclick="closeSoqScheduleDialog()"
							aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">

						<section class="panel">
							<form onsubmit="return false" class="form-horizontal">
								<fieldset>

									<input type="hidden" id="soqDlgMode">
									<div id="soqDlgErrorDiv" style="display: none"></div>

									<div class="row">
										<span id="__igdev_hiddenFormLabel618889"
											style="display: inline-block; background-color: #ffff99 !important; color:Black"
											hidden="hidden">
											<span
												style="display: inline-block;font-size: 90%;background-color: #ffffff">&nbsp;soqDlgId</span><input
												ReadOnly id="soqDlgId"
												style="background-color: #ffff99 !important; color:Black; width: 60px; height: 20px;">
										</span>
									</div>
									<div class="row">
										<label class="col-md-3 col-form-label" for="soqDlgScheduleName">Schedule Name
											*</label>
										<div class="col-md-9">
											<div class="form-group">
												<input type="text" id="soqDlgScheduleName" class="form-control"
													placeholder="">
											</div>
										</div>
									</div>
									<div class="row">
										<label class="col-md-3 col-form-label" for="soqDlgTemplateUsed">Template
											Used</label>
										<div class="col-md-9">
											<div class="form-group">
												<input type="text" id="soqDlgTemplateUsed" class="form-control"
													placeholder="">
											</div>
										</div>
									</div>
									<div class="row">
										<label class="col-md-3 col-form-label" for="soqDlgProject">Project *</label>
										<div class="col-md-9">
											<div class="form-group">
												<input type="text" id="soqDlgProject" class="form-control"
													placeholder="">
											</div>
										</div>
									</div>
									<div class="row">
										<label class="col-md-3 col-form-label" for="soqDlgCreatedBy">Created By
											*</label>
										<div class="col-md-9">
											<div class="form-group">
												<input type="text" id="soqDlgCreatedBy" class="form-control"
													placeholder="">
											</div>
										</div>
									</div>
									<div class="row">
										<label class="col-md-3 col-form-label"
											for="soqDlgDescription">Description</label>
										<div class="col-md-9">
											<div class="form-group">
												<input type="text" id="soqDlgDescription" class="form-control"
													placeholder="">
											</div>
										</div>
									</div>
									<div class="row">
										<label class="col-md-3 col-form-label" for="soqDlgTenderNo">Tender Number
											*</label>
										<div class="col-md-9">
											<div class="form-group">
												<input type="text" id="soqDlgTenderNo" class="form-control"
													placeholder="">
											</div>
										</div>
									</div>
									<div class="row">
										<label class="col-md-3 col-form-label" for="soqDlgPrimary">Primary Heading
											*</label>
										<div class="col-md-9">
											<div class="form-group">
												<input type="text" id="soqDlgPrimary" class="form-control"
													placeholder="Description">
											</div>
										</div>
									</div>
									<div class="row">
										<label class="col-md-3 col-form-label" for="soqDlgSecondary">Secondary
											Heading</label>
										<div class="col-md-9">
											<div class="form-group">
												<input type="text" id="soqDlgSecondary" class="form-control"
													placeholder="">
											</div>
										</div>
									</div>
									<div class="row">
										<label class="col-md-3 col-form-label" for="soqDlgTertiary">Tertiary Heading
											*</label>
										<div class="col-md-9">
											<div class="form-group">
												<input type="text" id="soqDlgTertiary" class="form-control"
													placeholder="">
											</div>
										</div>
									</div>
									<div class="row">
										<label class="col-md-3 col-form-label" for="soqStartDate">Start Date</label>
										<div class="input-group">
											<input id="soqStartDate" name="soqStartDate" class="form-control"
												placeholder="yyyy-mm-dd" data-provide="datepicker"
												data-date-format="yyyy-mm-dd" data-date-autoclose=true
												data-date-show-on-focus=false data-date-today-btn="linked"
												onchange="soqScheduleDialogChanged()">
											<span class="input-group-addon pointer"
												onclick="$('#soqStartDate').datepicker('show')">
												<i class="fas fa-calendar-alt"></i>
											</span>
										</div>
									</div>
									<div class="row">
										<label class="col-md-3 col-form-label" for="soqDescriptionColumn">Description
											Column Name *</label>
										<div class="col-md-9">
											<div class="form-group">
												<input type="text" id="soqDescriptionColumn" class="form-control"
													placeholder="">
											</div>
										</div>
									</div>
									<div class="row">
										<label class="col-md-3 col-form-label" for="soqUnitColumn">Unit Column Name
											*</label>
										<div class="col-md-9">
											<div class="form-group">
												<input type="text" id="soqUnitColumn" class="form-control"
													placeholder="Name">
											</div>
										</div>
									</div>
									<div class="row">
										<label class="col-md-3 col-form-label" for="soqRateColumn">Rate Column Name
											*</label>
										<div class="col-md-9">
											<div class="form-group">
												<input type="text" id="soqRateColumn" class="form-control"
													placeholder="Name">
											</div>
										</div>
									</div>
									<div class="row">
										<label class="col-md-3 col-form-label" for="soqQtyColumn">Qty Column Name
											*</label>
										<div class="col-md-9">
											<div class="form-group">
												<input type="text" id="soqQtyColumn" class="form-control"
													placeholder="Name">
											</div>
										</div>
									</div>
									<div class="row">
										<label class="col-md-3 col-form-label" for="soqAmountColumn">Amount Column Name
											*</label>
										<div class="col-md-9">
											<div class="form-group">
												<input type="text" id="soqAmountColumn" class="form-control"
													placeholder="Name">
											</div>
										</div>
									</div>
									<div class="row">
										<label class="col-md-3 col-form-label" for="soqNumberColumnName">Number Column
											Name *</label>
										<div class="col-md-9">
											<div class="form-group">
												<input type="text" id="soqNumberColumnName" class="form-control"
													placeholder="Name">
											</div>
										</div>
									</div>
								</fieldset>
							</form>
						</section>

					</div>
					<div class="modal-footer">
						<button onclick="closeSoqScheduleDialog()" class="btn btn-sm btn-default"
							type="button">Cancel</button>
						<button id="saveSoqScheduleButton" class="btn btn-sm btn-primary" type="button">Save</button>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript" th:src="@{ignite/js/soq/soqScheduleDialog.js}"></script>
	</div>

</body>

</html>