<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head></head>

<body>
	<div th:fragment="soqTemplateDialog" th:remove="tag">
		
		<!-- cardTypeDialog: Start -->
		<div class="modal fade" id="soqTemplateDialog" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="soqTemplateDialogLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h4 class="modal-title" style="display: inline-block">SOQ Template</h4>
						<h5 id="nameFormLabel" style="display: inline-block; background-color: #ffff99 !important; color:Black" hidden="hidden"> 
							<span style="font-size: 90%; height: 16px">--soqTemplateDialog--</span>
						</h5>
		        <button type="button" class="close" onclick="closeSoqTemplateDialog()" aria-hidden="true">&times;</button>
		      </div>
		      <div class="modal-body">
	
				<section class="panel">
						<fieldset>
						
							<input type="hidden" id="soqDlgMode">
							<div id="soqDlgErrorDiv" style="display: none"></div>
					    					    						    	
							<div class="row">
								<span id="__igdev_hiddenFormLabel618889" style="display: inline-block; background-color: #ffff99 !important; color:Black" hidden="hidden">
									<span style="display: inline-block;font-size: 90%;background-color: #ffffff">&nbsp;soqDlgId</span><input ReadOnly id="soqDlgId" style="background-color: #ffff99 !important; color:Black; width: 60px; height: 20px;">
								</span>											
							</div>
					    	<div class="row">
					    		<label class="col-md-3 col-form-label" for="soqDlgName">Name *</label>
								<div class="col-md-9">
									<div class="form-group">
										<input type="text" id="soqDlgName" class="form-control" placeholder="">
									</div>
								</div>
					    	</div>														    	
					    	<div class="row">
					    		<label class="col-md-3 col-form-label" for="soqDlgDescription">Description *</label>
								<div class="col-md-9">
									<div class="form-group">
										<input type="text" id="soqDlgDescription" class="form-control" placeholder="">
									</div>
								</div>
					    	</div>
					    	<div class="row">
					    		<label class="col-md-3 col-form-label" for="soqDlgPrimary">Primary Heading *</label>
								<div class="col-md-9">
									<div class="form-group">
										<input type="text" id="soqDlgPrimary" class="form-control" placeholder="Enter the project's main description here">
									</div>
								</div>
					    	</div>
					    	<div class="row">
					    		<label class="col-md-3 col-form-label" for="soqDlgSecondary">Secondary Heading *</label>
								<div class="col-md-9">
									<div class="form-group">
										<input type="text" id="soqDlgSecondary" class="form-control" placeholder="Enter the project's secondary description here">
									</div>
								</div>
					    	</div>
					    	<div class="row">
					    		<label class="col-md-3 col-form-label" for="soqDlgTertiary">Tertiary Heading *</label>
								<div class="col-md-9">
									<div class="form-group">
										<input type="text" id="soqDlgTertiary" class="form-control" placeholder="Enter the project's tertiary description here">
									</div>
								</div>
					    	</div>
					    	<div class="row">
					    		<label class="col-md-3 col-form-label" for="soqDlgNumberColumn">Number Column Name *</label>
								<div class="col-md-9">
									<div class="form-group">
										<input type="text" id="soqDlgNumberColumn" class="form-control" placeholder="Item">
									</div>
								</div>
					    	</div>
					    	<div class="row">
					    		<label class="col-md-3 col-form-label" for="soqDlgDescriptionColumn">Description Column Name *</label>
								<div class="col-md-9">
									<div class="form-group">
										<input type="text" id="soqDlgDescriptionColumn" class="form-control" placeholder="Description">
									</div>
								</div>
					    	</div>
					    	<div class="row">
					    		<label class="col-md-3 col-form-label" for="soqDlgUnitColumn">Unit Column Name *</label>
								<div class="col-md-9">
									<div class="form-group">
										<input type="text" id="soqDlgUnitColumn" class="form-control" placeholder="Unit">
									</div>
								</div>
					    	</div>
					    	<div class="row">
					    		<label class="col-md-3 col-form-label" for="soqDlgQuantityColumn">Quantity Column Name *</label>
								<div class="col-md-9">
									<div class="form-group">
										<input type="text" id="soqDlgQuantityColumn" class="form-control" placeholder="Quantity">
									</div>
								</div>
					    	</div>
					    	<div class="row">
					    		<label class="col-md-3 col-form-label" for="soqDlgRateColumn">Rate Column Name *</label>
								<div class="col-md-9">
									<div class="form-group">
										<input type="text" id="soqDlgRateColumn" class="form-control" placeholder="Rate">
									</div>
								</div>
					    	</div>
					    	<div class="row">
					    		<label class="col-md-3 col-form-label" for="soqDlgAmountColumn">Amount Column Name *</label>
								<div class="col-md-9">
									<div class="form-group">
										<input type="text" id="soqDlgAmountColumn" class="form-control" placeholder="Amount">
									</div>
								</div>
					    	</div>
					    </fieldset>
		    	</section>

		      </div>
		      <div class="modal-footer">
				<button onclick="closeSoqTemplateDialog()" class="btn btn-sm btn-default" type="button">Cancel</button>
		        <button id="savesoqTemplateButton" class="btn btn-sm btn-primary" type="button" onclick="saveSoqTemplate()">Save</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		<script type="text/javascript" th:src="@{ignite/js/soq/soqTemplateDialog.js}"></script>
	</div>

</body>
</html>		