<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head></head>

<body>
	<div th:fragment="soqTemplateItemDialog" th:remove="tag">
		
		<!-- cardTypeDialog: Start -->
		<div class="modal fade" id="soqTemplateItemDialog" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="soqTemplateItemDialogLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h4 class="modal-title" style="display: inline-block">SOQ Template Item</h4>
						<h5 id="nameFormLabel" style="display: inline-block; background-color: #ffff99 !important; color:Black" hidden="hidden"> 
							<span style="font-size: 90%; height: 16px">--soqTemplateItemDialog--</span>
						</h5>
		        <button type="button" class="close" onclick="closeSoqTemplateItemDialog()" aria-hidden="true">&times;</button>
		      </div>
		      <div class="modal-body">
	
				<section class="panel">
					<form onsubmit="return false" class="form-horizontal">
						<fieldset>
						
							<input type="hidden" id="soqDlgMode">
							<div id="soqDlgErrorDiv" style="display: none"></div>
					    					    						    	
							<div class="row">
								<span id="__igdev_hiddenFormLabel618889" style="display: inline-block; background-color: #ffff99 !important; color:Black" hidden="hidden">
									<span style="display: inline-block;font-size: 90%;background-color: #ffffff">&nbsp;soqItemDlgId</span><input ReadOnly id="soqDlgId" style="background-color: #ffff99 !important; color:Black; width: 60px; height: 20px;">
								</span>											
							</div>
					    	<div class="row">
					    		<label class="col-md-3 col-form-label" for="soqDlgName">Template Name</label>
								<div class="col-md-9">
									<div class="form-group">
										<input type="text" id="soqDlgName" class="form-control" placeholder="" readonly>
									</div>
								</div>
					    	</div>														    	
					    	<div class="row">
					    		<label class="col-md-3 col-form-label" for="soqDlgDescription">Sub-Schedule Name</label>
								<div class="col-md-9">
									<div class="form-group">
										<input type="text" id="soqDlgDescription" class="form-control" placeholder="" readonly>
									</div>
								</div>
					    	</div>
					    	<div class="row">
					    		<label class="col-md-3 col-form-label" for="soqDlgPrimary">Parent Item Name</label>
								<div class="col-md-9">
									<div class="form-group">
										<input type="text" id="soqDlgPrimary" class="form-control" readonly>
									</div>
								</div>
					    	</div>
					    	<div class="row">
					    		<label class="col-md-3 col-form-label" for="soqDlgSecondary">Column 1 Item Number *</label>
								<div class="col-md-9">
									<div class="form-group">
										<input type="text" id="soqDlgSecondary" class="form-control">
									</div>
								</div>
					    	</div>
					    	<div class="row">
					    		<label class="col-md-3 col-form-label" for="soqDlgTertiary">Column 2 Item Number *</label>
								<div class="col-md-9">
									<div class="form-group">
										<input type="text" id="soqDlgTertiary" class="form-control">
									</div>
								</div>
					    	</div>
					    	<div class="row">
					    		<label class="col-md-3 col-form-label" for="soqDlgNumberColumn">Column 3 Item Number *</label>
								<div class="col-md-9">
									<div class="form-group">
										<input type="text" id="soqDlgNumberColumn" class="form-control" placeholder="">
									</div>
								</div>
					    	</div>
					    	<div class="row">
					    		<label class="col-md-3 col-form-label" for="soqDlgDescriptionColumn">Item Description *</label>
								<div class="col-md-9">
									<div class="form-group">
										<input type="text" id="soqDlgDescriptionColumn" class="form-control" placeholder="">
									</div>
								</div>
					    	</div>
					    	<div class="row">
					    		<label class="col-md-3 col-form-label" for="soqDlgUnitColumn">Unit Type *</label>
								<div class="col-md-9">
									<div class="form-group">
										<input type="text" id="soqDlgUnitColumn" class="form-control" placeholder="">
									</div>
								</div>
					    	</div>
					    	<div class="offset-md-2 col-md-12 row">
								<input type="checkbox" id="peFullyLinked"> <label
									class="col-form-label offset-md-1" for="peFullyLinked">Define Sub Items</label>
							</div>
							<div class="offset-md-2 col-md-12 row">
								<input type="checkbox" id="peFullyLinked"> <label
									class="col-form-label offset-md-1" for="peFullyLinked">Tender Rate Allowed</label>
							</div>
							<div class="offset-md-2 col-md-12 row">
								<input type="checkbox" id="peFullyLinked"> <label
									class="col-form-label offset-md-1" for="peFullyLinked">Rate Only</label>
							</div>
					    </fieldset>
				  	</form>
		    	</section>

		      </div>
		      <div class="modal-footer">
				<button onclick="closeSoqTemplateItemDialog()" class="btn btn-sm btn-default" type="button">Cancel</button>
		        <button id="saveSoqTemplateItemButton" class="btn btn-sm btn-primary" type="button">Save</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		<script type="text/javascript" th:src="@{ignite/js/soq/soqTemplateItemDialog.js}"></script>
	</div>

</body>
</html>		