<html>
<head>
<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">

<!-- bootstrap datatables -->
<link rel="stylesheet" type="text/css" th:href="@{/assets/datatables/bootstrap.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/datatables/bootstrap4.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/Select-1.2.6/css/select.bootstrap4.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/Buttons-1.5.2/css/buttons.bootstrap4.min.css}">

<!-- bootstrap theme -->
<link rel="stylesheet" type="text/css" th:href="@{css/bootstrap-theme.css}">

<!-- font icon -->
<link rel="stylesheet" type="text/css" th:href="@{css/elegant-icons-style.css}">
<link rel="stylesheet" type="text/css" th:href="@{font-awesome/6.4.2/css/all.min.css}">

<!-- full calendar css-->
<link rel="stylesheet" type="text/css" th:href="@{assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css}">
<link rel="stylesheet" type="text/css" th:href="@{assets/fullcalendar/fullcalendar/fullcalendar.css}">
<link rel="stylesheet" type="text/css" th:href="@{assets/datepicker/1.8.0/css/bootstrap-datepicker.css}">

<!-- easy pie chart-->
<link rel="stylesheet" type="text/css" th:href="@{assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css}" media="screen">

<!-- owl carousel -->
<link rel="stylesheet" type="text/css" th:href="@{css/owl.carousel.css}">
<link rel="stylesheet" type="text/css" th:href="@{css/jquery-jvectormap-1.2.2.css}">

<!-- Custom styles -->
<link rel="stylesheet" type="text/css" th:href="@{css/fullcalendar.css}">
<link rel="stylesheet" type="text/css" th:href="@{css/widgets.css}">
<link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
<link rel="stylesheet" type="text/css" th:href="@{css/style-responsive.css}">
<link rel="stylesheet" type="text/css" th:href="@{css/xcharts.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{css/jquery-ui-1.10.4.min.css}">

<!-- Ignite -->
<link rel="stylesheet" type="text/css" th:href="@{ignite/css/ignite.css}">
</head>
<body>

	<p style="text-align:center; color: #777777;">
		<br><br><br><br>
		Please select a reference table
	</p>

</body>
</html>

